<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vuejs Todos Example</title>
    <link rel="stylesheet" href="./index.css">
    <script src="./libs/vue.min.js"></script>
    <style media="screen">
      [v-cloak] { display: none; }
    </style>
</head>

<body>
    <section class="todoapp">
        <header class="header">
            <h1>Todos</h1>
            <input type="text" class="new-todo" autofocus autocomplete="off" placeholder="What needs to be done?" v-model="newTodo" @keyup.enter="addTodo">
        </header>
        <div class="main" v-show="todos.length" v-cloak>
            <input type="checkbox" class="toggle-all" v-model="allDone">
            <ul class="todo-list">
                <li class="toto" v-for="to of filteredTodos" :key="todo.id" :class="{completed:todo.completed,editing:todo==editedTodo}">
                    <div class="view">
                        <input type="checkbox" class="toggle" v-model="todo.completed">
                        <label @dbclick="editTodo(todo)">{{ todo.title }}</label>
                        <button class="destory" @click="removeTodo(todo)"></button>
                    </div>
                    <input type="text" class="edit" v-model="todo.title" v-todo-focus="todo === editedTodo" @blur="doneEdit(todo)" @keyup.enter="doneEdit(todo)" @keyup.esc="cancelEdit(todo)">
                </li>
            </ul>
        </div>
        <footer class="footer" v-show="todos.length" v-cloak>
            <span class="todo-count">
        <strong>{{remaining}}</strong>{{remaining | pluralize }} left
      </span>
            <ul class="filters">
                <li><a href="#/all" :class="{selected:visibility == 'all'}">All</a></li>
                <li><a href="#/active" :class="{selected:visibility == 'active'}">Active</a></li>
                <li><a href="#/completed" :class="{selected:visibility == 'completed'}">Completed</a></li>
            </ul>
            <button class="clear-completed" @click="removeCompleted" v-show="todos.length > remaining">Clear completed</button>
        </footer>
    </section>
    <footer class="info">
        <p>Double-click to edit a todo</p>
        <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
    </footer>
</body>
<script src="./index.js"></script>

</html>
