:root {
  --PrimryTextColor: #324b64;
  --PrimryBgColor: #00b9f1;
  --SecrondryBgColor: #2ec4b6;
  --DangerBgColor: #ff467e;
}

html {
  box-sizing: border-box;
  height: 100%;
}
body {
  color: var(--PrimryTextColor);
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Segoe UI, Helvetica Neue,
    Helvetica, Arial, sans-serif;
  overflow: hidden;
  background: #f6f7fd;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.sidebar {
  position: fixed;
  height: 100vh;
  width: 20%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: var(--PrimryBgColor);
  border-right: 1px solid #eee;
}
.sidebar-title {
  color: #fff;
  padding-left: 20px;
  height: 90px;
  line-height: 90px;
}
.siderbar-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar-list-item {
  width: 100%;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px 0 20px 20px;
  cursor: pointer;
  transition: all ease-in 0.3s;
}
.sidebar-list-item:hover {
  color: var(--PrimryTextColor);
  background-color: #fff;
}
.sidebar-list-item.active {
  background-color: #fff;
  color: var(--PrimryTextColor);
}

.main {
  position: relative;
  margin-left: 20%;
  min-height: 100vh;
}

.todo-list {
  list-style: none;
  max-width: 960px;
  width: 96%;
  max-height: calc(100vh - 90px);
  margin: 0 auto;
  padding: 32px 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.no-todo-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: 1.4em;
}

.todo-item {
  position: relative;
  background: #fff;
  padding-left: 4%;
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  transition: all ease-in 0.3s;
  box-shadow: 0 0.4rem 0.8rem -0.1rem rgba(0, 32, 128, 0.1), 0 0 0 1px #f0f2f7;
}
.todo-item:hover {
  transform: translateY(-2px);
}
.todo-item.sleected {
  color: #fff;
  background-color: var(--PrimryBgColor);
}
.todo-item.completed {
  color: #fff;
  background-color: var(--SecrondryBgColor);
}
.todo-item.completed .todo-text::after {
  background-color: #fff;
}
.todo-item.deleted {
  color: #fff;
  background-color: var(--DangerBgColor);
}

.todo-item .todo-text {
  flex: 1;
  position: relative;
  display: flex;
  height: 90px;
  max-height: 90px;
  cursor: text;
  justify-content: space-between;
  align-items: center;
  margin-right: 4%;
}
.todo-text-input {
  flex: 1;
  margin-right: 12px;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 12px;
  border-radius: 0.25rem;
  border: 1px solid var(--PrimryBgColor);
}
.todo-item .todo-text::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -16px;
  left: 0;
  background-color: #324b64;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.todo-item .todo-text:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.todo-info {
  color: #ccc;
  font-size: 0.7em;
}
.todo-item.completed .todo-text .todo-info {
  color: #fff;
}
.todo-item .todo-action {
  width: 0px;
  height: 90px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  will-change: width;
  transition: all ease-out 0.3s;
}
.todo-item.selected .todo-action {
  width: 100px;
}
.todo-item .todo-action:hover {
  opacity: 0.9;
}
.todo-item .todo-done {
  background: linear-gradient(135deg, #7983ff, #5f9de9);
}
.todo-item .todo-delete {
  border-radius: 0 0.25rem 0.25rem 0;
  background: linear-gradient(135deg, #ff4c9f, #ff7b74);
}
.todo-item .todo-restore {
  border-radius: 0 0.25rem 0.25rem 0;
  background-image: radial-gradient(
    circle 248px at center,
    #16d9e3 0%,
    #30c7ec 47%,
    #46aef7 100%
  );
}
.add-todo-container {
  height: 90px;
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  background: #fff;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.22);
}
.add-todo-input {
  flex: 1;
  border: none;
  height: 100%;
  outline: none;
  font-size: 1.5em;
  text-align: center;
}
.add-todo-button {
  width: 140px;
  height: 100%;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  background: #00b9f1;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.22);
}
.add-todo-button:hover {
  box-shadow: -2px 4px 12px rgba(0, 0, 0, 0.22);
}
